# FOR USE IN DEVELOPMENT ONLY

# Uncomment and fill in these credentials
# GAMMA_CLIENT_ID=
# GAMMA_CLIENT_SECRET=
# GAMMA_API_AUTHORIZATION=
GAMMA_REDIRECT_URI=http://localhost:3000/callback
NODE_ENV=development
DATABASE_URL=postgresql://postgres:secret-dev-password@localhost:5432/strecklista
JWT_SECRET=jwt-secret
