GAMMA_CLIENT_ID=
GAMMA_CLIENT_SECRET=
GAMMA_API_AUTHORIZATION=
GAMMA_REDIRECT_URI=http://localhost:3000/strecklista/callback
DATABASE_URL=postgresql://postgres:secret-dev-password@localhost:5432/strecklista
